<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conversions</title>
</head>
<body>
<h1>Conversions</h1>
<table border="1">
    <thead>
    <tr>
        <th>File Name</th>
        <th>Source Format</th>
        <th>Target Format</th>
        <th>Status</th>
        <th>Converted File Path</th>
        <th>Conversion Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="conversion : ${conversions}">
        <td th:text="${conversion.fileName}">File Name</td>
        <td th:text="${conversion.sourceFormat}">Source Format</td>
        <td th:text="${conversion.targetFormat}">Target Format</td>
        <td th:text="${conversion.status}">Status</td>
        <td th:text="${conversion.convertedFilePath}">Converted File Path</td>
        <td th:text="${#dates.format(conversion.conversionDate, 'yyyy-MM-dd HH:mm')}">Conversion Date</td>
    </tr>
    </tbody>
</table>
</body>
</html>
